<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Battle</title>
</head>
<body>
    <textarea id="chat-log" cols="80" rows="8"></textarea><br>
    <input id="chat-message-input" type="text" size="80"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <h1>human's ships</h1>
    <div id='tile'>
    <!-- <h1>hello</h1> -->
    </div>

    {% for y in human_tiles %}
        <li>
            {% for x in y %}
                <button style="background-color:{{ x.color }};height:20px;width:20px"></button>
            {% endfor %}
        </li>
    {% endfor %}

    <h1>bot's ships</h1>

    {% for y in bot_tiles %}
        <li>
            {% for x in y %}
                <button style="background-color:{{ x.color }};height:20px;width:20px"></button>
            {% endfor %}
        </li>
    {% endfor %}

    {{ User|json_script:"User" }}
    {{ History|json_script:"history" }}
    <script>
        const user = JSON.parse(document.getElementById('User').textContent);
        const history = JSON.parse(document.getElementById('history').textContent);

        function history_back(history) {

            for (let i = 0; i < history.length; i++) {
                past_message = history[i]
                document.querySelector('#chat-log').value += (past_message + '\n');
            }
        }

        history_back(history);

        const battle_Socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/battle/'
            + user
            + '/'
        );

        battle_Socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            const user_ships = data.user_sea;
            const bot_ships = data.bot_sea;
            render_battlefields();
        };

        function render_battlefields() {
            // TODO - replace with real rendering function
            window.location = "http://localhost:8000/battle/";
        }

        battle_Socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            battle_Socket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };


    </script>
</body>
</html>