<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Let's fight</title>
</head>
<body>
    <textarea id="chat-log" cols="80" rows="8"></textarea><br>
    <input id="chat-message-input" type="text" size="80"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <h1>your ships</h1>
    <div id='tile_you' style="display:grid; grid-template-columns: repeat(10, 1fr); grid-gap: 5px; width: 240px;">
    </div>

    <h1>enemy's ships</h1>

    <div id='tile_enemy' style="display:grid; grid-template-columns: repeat(10, 1fr); grid-gap: 5px; width: 240px;">
    </div>

    {{ username|json_script:"username" }}
    {{ History|json_script:"history" }}
    {{ state|json_script:"game_state" }}



    <script>

        function erase_battlefield(callback, battlefield, tile_ent) {
            const tile = document.getElementById(tile_ent)
            tile.innerHTML = null
            callback(battlefield, tile_ent);
        }

        function render_battlefield(battlefield, tile_ent) {

            const colors = {
                        "default":"#ffffff",
                        "missed": "#0000ff",
                        "ship":"#008000",
                        "wounded": "#ff0000",
                        "killed":"#808080"
                    }
            const tile = document.getElementById(tile_ent);
            tile.style.borderColor = '#000';
    
            const fragment = document.createDocumentFragment();

            battlefield.forEach((e) => {
                e.forEach((el) => {
                    const cellElement = document.createElement('button');
                    cellElement.style.backgroundColor = colors[el];
                    cellElement.style.height = "20px";
                    cellElement.style.width = "20px";
                    fragment.append(cellElement);
                    })
                })
                tile.append(fragment);

            }

        const userName = JSON.parse(document.getElementById('username').textContent);
        const history = JSON.parse(document.getElementById('history').textContent);
        const game_state = JSON.parse(document.getElementById('game_state').textContent);

        function history_back(history) {

            for (let i = 0; i < history.length; i++) {
                past_message = history[i]
                document.querySelector('#chat-log').value += (past_message + '\n');
            }
        }

        history_back(history);

        const battle_Socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + 'battle/'
        );

        battle_Socket.onopen = function(e) {
            // alert("[open] Connection established");
            // alert("Sending to server");
            if (game_state == 'in_progress') {

                const message = 'hey motherfuckers';
                battle_Socket.send(JSON.stringify({
                    'message': message
                }));
            };
        };

        battle_Socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            if (data.bot_sea) {
                const user_ships = data.user_sea;
                erase_battlefield(render_battlefield, user_ships, 'tile_enemy');
                const bot_ships = data.bot_sea;
                erase_battlefield(render_battlefield, bot_ships, 'tile_you');

            }
        };


        battle_Socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = userName + ': ' + messageInputDom.value;
            battle_Socket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };


    </script>
</body>
</html>