<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Let's fight</title>
</head>
<body>
    <textarea id="chat-log" cols="80" rows="8"></textarea><br>
    <input id="chat-message-input" type="text" size="80"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <h1>your ships</h1>
    <div id='tile_you' style="display:grid; grid-template-columns: repeat(10, 1fr); grid-gap: 5px; width: 240px;">
    </div>

    <h1>enemy's ships</h1>

    <div id='tile_enemy' style="display:grid; grid-template-columns: repeat(10, 1fr); grid-gap: 5px; width: 240px;">
    </div>

    {{ username|json_script:"username" }}
    {{ History|json_script:"history" }}
    {{ state|json_script:"game_state" }}



    <script>
        function get_id() {
            var path = window.location.pathname;
            var split = path.split('/');
            return split[2];
        }

        function sort_ships(ships) {
            id = get_id();
            var me = ships[id].sea;
            for (let user of Object.keys(ships)) {
                if (user != get_id()) {
                    var enemy = ships[user].sea;
                };
            };
            var battle = {
                'me': me,
                'enemy': enemy
            };
        return battle;
        }

        function choose_enemy_ships(ships) {
            console.log(ships);
        }

        function erase_battlefield(callback, battlefield, tile_ent) {
            const tile = document.getElementById(tile_ent)
            tile.innerHTML = null
            callback(battlefield, tile_ent);
        }

        function render_battlefield(battlefield, tile_ent) {

            const colors = {
                        "default":"#ffffff",
                        "missed": "#0000ff",
                        "ship":"#008000",
                        "wounded": "#ff0000",
                        "killed":"#808080"
                    }
            const tile = document.getElementById(tile_ent);
            tile.style.borderColor = '#000';
    
            const fragment = document.createDocumentFragment();

            battlefield.forEach((e) => {
                e.forEach((el) => {
                    const cellElement = document.createElement('button');
                    cellElement.style.backgroundColor = colors[el];
                    cellElement.style.height = "20px";
                    cellElement.style.width = "20px";
                    fragment.append(cellElement);
                    })
                })
                tile.append(fragment);

            }

        const userName = JSON.parse(document.getElementById('username').textContent);
        const history = JSON.parse(document.getElementById('history').textContent);
        const game_state = JSON.parse(document.getElementById('game_state').textContent);

        function history_back(history) {

            for (let i = 0; i < history.length; i++) {
                past_message = history[i]
                document.querySelector('#chat-log').value += (past_message + '\n');
            }
        }

        history_back(history);

        const battle_Socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + 'battle/'
        );

        battle_Socket.onopen = function(e) {
            if (game_state == 'waiting_for_enemy') {
                alert('please wait for your opponent to join');
            }
            battle_Socket.send(JSON.stringify({
                'type': 'game',
                'message': 'refresh'
            }));

        };

        battle_Socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type == 'chat') {
                document.querySelector('#chat-log').value += (data.message + '\n');
            };
            if (data.type == 'game') {
                if (data.ships) {
                    const players = sort_ships(data.ships);
                    const your_ships = players.me;
                    erase_battlefield(render_battlefield, your_ships, 'tile_you');
                    const enemy_ships = players.enemy;
                    erase_battlefield(render_battlefield, enemy_ships, 'tile_enemy');
                };
            }
            
        };


        battle_Socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = userName + ': ' + messageInputDom.value;
            battle_Socket.send(JSON.stringify({
                'type': 'chat',
                'message': message
            }));
            messageInputDom.value = '';
        };


    </script>
</body>
</html>